{% load static %}
<head>
    <title>Reader</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{% static 'search/css/search.css' %}">
</head>
<body>
    <!-- delete next three rows when base in place -->
    <main role="main" class="container flex-grow-1">
        <div class="row">
            <div class="col-md-8 mx-auto">
                    <div class="d-flex flex-column flex-md-row">
                            <div class="book-page-image d-flex flex-row flex-md-column align-items-center me-md-3 mb-3 mb-md-0">
                                {% if book.covers %}
                                    <img src="https://covers.openlibrary.org/b/id/{{book.covers.0}}-M.jpg" alt="Book cover">
                                {% else %}
                                    <img src="{% static 'search/images/defaultcover.jpg' %}" alt="No cover found">
                                {% endif %}
                                <button class="action-button btn btn-outline-default" type="button">Want to read</button>
                                <button class="action-button btn btn-outline-default" type="button">Have read</button>
                                <button class="action-button btn btn-outline-default" type="button">Recommend</button>
                            </div>
                            <div class="flex-grow-1 d-flex flex-column">
                                <h4>{{ book.title }}</h4>
                                <p class="book-metadata">
                                    First published: {{ pub_date_and_editions.first_publish_year }} | {{ pub_date_and_editions.edition_count }}
                                    {% if pub_date_and_editions.edition_count == 1 %}
                                        edition
                                    {% else %}
                                        editions
                                    {% endif %}
                                    | Open Library Average Rating: {{ rating|floatformat:2 }}
                                </p>
                                <p>
                                    {% if book.authors|length == 1 %}
                                        by {{ book.authors.0 }}
                                    {% elif book.authors|length > 1 %}
                                        by {{ book.authors|join:", " }}
                                    {% else %}
                                        Author Not Found
                                    {% endif %}
                                </p>
                                <p>
                                    {% if book.description %}
                                        {{ book.description }}
                                    {% else %}
                                        Description Not Found
                                    {% endif %}
                                </p>
                                <p>
                                    {% if book.subjects %}
                                        Subjects:
                                        {% if book.subjects|length == 1 %}
                                            {{ book.subjects.0 }}
                                        {% else %}
                                            {{ book.subjects|join:", " }}
                                        {% endif %}
                                    {% endif %}
                                </p>
                                <div>
                                    <h5>Community Reviews</h5>
                                    <p>No reviews yet!</p>
                                </div>
                            </div>
                    </div>
                <!-- do I need this? -->
                <script src="{% static 'search/js/search_tabs.js' %}"></script>
            </div>
        </div>
    </main>
</body>