{% extends "recommendations/base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'search/css/search.css' %}">
{% endblock extra_css %}
{% block content %}
    <div class="d-flex flex-column flex-md-row mt-4 mb-4">
            <div class="book-page-image d-flex flex-row flex-md-column align-items-center me-md-3 mb-3 mb-md-0">
                {% if book.cover %}
                    <img src="https://covers.openlibrary.org/b/id/{{ book.cover }}-M.jpg" alt="Book cover">
                {% else %}
                    <img src="{% static 'search/images/defaultcover.jpg' %}" alt="No cover found">
                {% endif %}
                {% if user.is_authenticated %}
                    <div class="dropdown">
                        <button class="btn btn-outline-default dropdown-toggle action-button btn-sm" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            {% if book.current_status == 'WTR' %}
                                Want to read
                            {% elif book.current_status == 'AR' %}
                                Am reading
                            {% elif book.current_status == 'HR' %}
                                Have read
                            {% else %}
                                Add to my lists
                            {% endif %}
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="#" id="want-to-read-btn" data-olid="{{ book.olid }}" data-title="{{ book.title }}" data-author="{{ book.authors }}" data-cover="{{ book.cover }}">Want to read</a></li>
                            <li><a class="dropdown-item" href="#" id="am-reading-btn" data-olid="{{ book.olid }}" data-title="{{ book.title }}" data-author="{{ book.authors }}" data-cover="{{ book.cover }}">Am reading</a></li>
                            <li><a class="dropdown-item" href="#" id="have-read-btn" data-olid="{{ book.olid }}" data-title="{{ book.title }}" data-author="{{ book.authors }}" data-cover="{{ book.cover }}">Have read</a></li>
                        </ul>
                    </div>
                    <a class="action-button btn btn-outline-default btn-sm" href="{% url 'create_journal_entry' book.id %}">Add Journal Entry</a>
                    <a class="action-button btn btn-outline-default btn-sm" href="{% url 'create_recommendation' book.id %}">Recommend</a>
                {% endif %}
            </div>
            <div class="flex-grow-1 d-flex flex-column">
                <h4>{{ book.title }}</h4>
                <p class="book-metadata">
                    First published: {{ book.first_publish_year }} | {{ book.edition_count }}
                    {% if book.edition_count == 1 %}
                        edition
                    {% else %}
                        editions
                    {% endif %}
                    | Open Library Average Rating: {{ book.rating|floatformat:2 }}
                </p>
                <p>
                    {% if book.authors|length > 0 %}
                        by {{ book.authors }}
                    {% else %}
                        Author Not Found
                    {% endif %}
                </p>
                <p>
                    {% if book.description %}
                        {{ book.description }}
                    {% else %}
                        Description Not Found
                    {% endif %}
                </p>
                <p>
                    {% if book.subjects|length > 0 %}
                        Subjects: {{ book.subjects }}
                    {% else %}
                        Subjects Not Found
                    {% endif %}
                </p>
                <div>
                    <h5>Community Reviews</h5>
                    <p>No reviews yet!</p>
                </div>
            </div>
    </div>
    <script>
        document.getElementById('want-to-read-btn').addEventListener('click', function(event) {
            event.preventDefault();
            var button = this;
            var dropDownButton = document.getElementById('dropdownMenuButton');
            var olid = button.getAttribute('data-olid');
            var title = button.getAttribute('data-title');
            var author = button.getAttribute('data-author');

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '{% url "want_to_read" olid=book.olid %}', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');

            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        dropDownButton.textContent = 'Want to Read';
                    } else {
                        alert('An error occurred. Please try again.');
                    }
                }
            };

            xhr.send('title=' + encodeURIComponent(title) + '&author=' + encodeURIComponent(author));
        });

        document.getElementById('am-reading-btn').addEventListener('click', function(event) {
            event.preventDefault();
            var button = this;
            var dropDownButton = document.getElementById('dropdownMenuButton');
            var olid = button.getAttribute('data-olid');
            var title = button.getAttribute('data-title');
            var author = button.getAttribute('data-author');

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '{% url "am_reading" olid=book.olid %}', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');

            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        dropDownButton.textContent = 'Am Reading';
                    } else {
                        alert('An error occurred. Please try again.');
                    }
                }
            };

            xhr.send('title=' + encodeURIComponent(title) + '&author=' + encodeURIComponent(author));
        });

        document.getElementById('have-read-btn').addEventListener('click', function(event) {
            event.preventDefault();
            var button = this;
            var dropDownButton = document.getElementById('dropdownMenuButton');
            var olid = button.getAttribute('data-olid');
            var title = button.getAttribute('data-title');
            var author = button.getAttribute('data-author');

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '{% url "have_read" olid=book.olid %}', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');

            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        dropDownButton.textContent = 'Have Read';
                    } else {
                        alert('An error occurred. Please try again.');
                    }
                }
            };

            xhr.send('title=' + encodeURIComponent(title) + '&author=' + encodeURIComponent(author));
        });
    </script>
{% endblock content %}