{% extends "recommendations/base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'search/css/search.css' %}">
{% endblock extra_css %}
{% block content %}
    <div>
        <h3 class="mt-4 mb-4">Search</h3>
        <form id="page_search_form" class="d-flex align-items-center mb-4">
            <input type="text" id="book_search" name="q" class="form-control me-2" placeholder="Powered by Open Library">
            <input type="hidden" id="book_page" name="book_page" value="1">
            <button type="submit" class="action-button btn btn-outline-default">Search</button>
        </form>
    </div>
    {% if q and q != "" %}
        <div class="tab">
            <button type="button" class="tablinks" onclick="openSearchResults(event, 'Titles')" id="titleTab">Titles</button>
            <button type="button" class="tablinks" onclick="openSearchResults(event, 'Authors')" id="authorTab">Authors</button>
        </div>
        <div id="Titles" class="tabcontent">
            {% if book_results.results|length > 0 %}
                {% for result in book_results.results %}
                    <div class="results-container d-flex flex-column flex-md-row">
                        <a class="text-decoration-none d-flex flex-column flex-md-row" href="/book/{{ result.key }}">
                            <div class="results-image d-flex flex-row flex-md-column align-items-center me-md-3 mb-3 mb-md-0">
                                {% if result.cover_i %}
                                    <img src="https://covers.openlibrary.org/b/id/{{result.cover_i}}-M.jpg" alt="Book cover">
                                {% else %}
                                    <img src="{% static 'search/images/defaultcover.jpg' %}" alt="No cover found">
                                {% endif %}
                            </div>
                            <div class="results-text flex-grow-1 d-flex flex-column">
                                <h4>{{ result.title|truncatechars:50 }}</h4>
                                <p>
                                    {% if result.author_name|length == 1 %}
                                        by {{ result.author_name.0|truncatechars:80 }}
                                    {% elif result.author_name|length > 1 %}
                                        by {{ result.author_name|join:", "|truncatechars:80 }}
                                    {% else %}
                                        Author Not Found
                                    {% endif %}
                                </p>
                                <p class="book-metadata">
                                    First published: {{ result.first_publish_year }} | {{ result.edition_count }}
                                    {% if result.edition_count == 1 %}
                                        edition
                                    {% else %}
                                        editions
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
                {% if book_results.pages|length < 6 %}
                    {% for pageId in book_results.pages %}
                        {% if pageId == book_page %}
                            <a class="action-button-pages-selected btn btn-outline-default mb-2" href="/search/?q={{ q }}&book_page={{ pageId }}">{{ pageId }}</a>
                        {% else %}
                            <a class="action-button-pages btn btn-outline-default mb-2" href="/search/?q={{ q }}&book_page={{ pageId }}">{{ pageId }}</a>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <div class="mt-2 fewer-pages" id="fewer-pages">
                        {% for pageId in book_results.pages|slice:":5" %}
                            {% if pageId == book_page %}
                                <a class="action-button-pages-selected btn btn-outline-default mb-2" href="/search/?q={{ q }}&book_page={{ pageId }}">{{ pageId }}</a>
                            {% else %}
                                <a class="action-button-pages btn btn-outline-default mb-2" href="/search/?q={{ q }}&book_page={{ pageId }}">{{ pageId }}</a>
                            {% endif %}
                        {% endfor %}
                        <a class="action-button-pages btn btn-outline-default show-all-pages-btn mb-2" id="show-all-pages-btn">Show all pages</a>
                    </div>
                    <div class="mt-2 all-pages inactive" id="all-pages">
                        {% for pageId in book_results.pages %}
                            {% if pageId == book_page %}
                                <a class="action-button-pages-selected btn btn-outline-default mb-2" href="/search/?q={{ q }}&book_page={{ pageId }}">{{ pageId }}</a>
                            {% else %}
                                <a class="action-button-pages btn btn-outline-default mb-2" href="/search/?q={{ q }}&book_page={{ pageId }}">{{ pageId }}</a>
                            {% endif %}
                        {% endfor %}
                        <a class="action-button-pages btn btn-outline-default mb-2 show-fewer-pages-btn" id="show-fewer-pages-btn">Show fewer pages</a>
                    </div>
                {% endif %}
            {% else %}
                <p>No results found.</p>
            {% endif %}
        </div>
        <div id="Authors" class="tabcontent">
            {% if author_results.results|length > 0 %}
                {% for result in author_results.results %}
                    <div class="results-container d-flex flex-column flex-md-row">
                        <a class="text-decoration-none d-flex flex-column flex-md-row" href="/book/{{ result.key }}">
                            <div class="results-image d-flex flex-row flex-md-column align-items-center me-md-3 mb-3 mb-md-0">
                                {% if result.cover_i %}
                                    <img src="https://covers.openlibrary.org/b/id/{{result.cover_i}}-M.jpg" alt="Book cover">
                                {% else %}
                                    <img src="{% static 'search/images/defaultcover.jpg' %}" alt="No cover found">
                                {% endif %}
                            </div>
                            <div class="results-text flex-grow-1 d-flex flex-column">
                                <h4>{{ result.title|truncatechars:50 }}</h4>
                                <p>
                                    {% if result.author_name|length == 1 %}
                                        by {{ result.author_name.0|truncatechars:80 }}
                                    {% elif result.author_name|length > 1 %}
                                        by {{ result.author_name|join:", "|truncatechars:80 }}
                                    {% else %}
                                        Author Not Found
                                    {% endif %}
                                </p>
                                <p class="book-metadata">
                                    First published: {{ result.first_publish_year }} | {{ result.edition_count }}
                                    {% if result.edition_count == 1 %}
                                        edition
                                    {% else %}
                                        editions
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
                <div>
                    {% if author_results.pages|length < 6 %}
                        {% for pageId in author_results.pages %}
                            {% if pageId == author_page %}
                                <a class="action-button-pages-selected btn btn-outline-default mb-2" href="/search/?q={{ q }}&book_page={{ pageId }}">{{ pageId }}</a>
                            {% else %}
                                <a class="action-button-pages btn btn-outline-default mb-2" href="/search/?q={{ q }}&book_page={{ pageId }}">{{ pageId }}</a>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <div class="mt-2 author-fewer-pages" id="author-fewer-pages">
                            {% for pageId in author_results.pages|slice:":5" %}
                                {% if pageId == author_page %}
                                    <a class="action-button-pages-selected btn btn-outline-default mb-2" href="/search/?q={{ q }}&book_page={{ pageId }}">{{ pageId }}</a>
                                {% else %}
                                    <a class="action-button-pages btn btn-outline-default mb-2" href="/search/?q={{ q }}&book_page={{ pageId }}">{{ pageId }}</a>
                                {% endif %}
                            {% endfor %}
                            <a class="action-button-pages btn btn-outline-default author-show-all-pages-btn mb-2" id="author-show-all-pages-btn">Show all pages</a>
                        </div>
                        <div class="mt-2 author-all-pages inactive" id="author-all-pages">
                            {% for pageId in author_results.pages %}
                                {% if pageId == author_page %}
                                    <a class="action-button-pages-selected btn btn-outline-default mb-2" href="/search/?q={{ q }}&book_page={{ pageId }}">{{ pageId }}</a>
                                {% else %}
                                    <a class="action-button-pages btn btn-outline-default mb-2" href="/search/?q={{ q }}&book_page={{ pageId }}">{{ pageId }}</a>
                                {% endif %}
                            {% endfor %}
                            <a class="action-button-pages btn btn-outline-default mb-2 author-show-fewer-pages-btn" id="author-show-fewer-pages-btn">Show fewer pages</a>
                        </div>
                    {% endif %}
                </div>
            {% else %}
                <p>No results found.</p>
            {% endif %}
        </div>
    {% endif %}
    <script src="{% static 'search/js/search_tabs.js' %}"></script>
    <script src="{% static 'search/js/results_pages.js' %}"></script>
{% endblock content %}