{% extends "recommendations/base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'journal/css/journal.css' %}">
{% endblock extra_css %}
{% block content %}
    <h2 class="mt-4 mb-4">My Reading Lists</h2>
    <div class="want-to-read-list">
        <div class="table-container mb-5">
            <table class="table-responsive">
                <thead>
                    <tr>
                        <th colspan="5" scope="col" class="text-center h3">Books I Want to Read</th>
                    </tr>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col" class="author">Author</th>
                        <th scope="col" class="date">Date</th>
                        <th scope="col" class="journal text-center">Journal Entry</th>
                        <th scope="col" class="actions text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% if user_books_wtr|length > 0 %}
                    {% for book in user_books_wtr %}
                        <tr>
                            <td>{{book.book.title}}</td>
                            <td>{{book.book.authors}}</td>
                            <td>{{book.timestamp|date:"d M, Y"}}</td>
                            <td class="text-center">
                                {% if book.has_journal_entry %}
                                    <a class="btn btn-sm btn-outline-secondary view-button" href="{% url 'view_journal_entry' book.book.id %}">View</a>
                                {% else %}
                                    <a class="btn btn-sm btn-outline-secondary add-button" href="{% url 'create_journal_entry' book.book.id %}">Add</a>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                <div class="dropdown">
                                    <button class="btn btn-sm btn-outline-default dropdown-toggle action-button" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                        Change List
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <li><a class="dropdown-item" href="{% url 'change_book_status' book.book.id 'WTR' %}">Want to read</a></li>
                                        <li><a class="dropdown-item" href="{% url 'change_book_status' book.book.id 'AR' %}">Am reading</a></li>
                                        <li><a class="dropdown-item" href="{% url 'change_book_status' book.book.id 'HR' %}">Have read</a></li>
                                        <li><a class="dropdown-item text-danger" href="{% url 'delete_book_to_user' book.book.id %}">Delete</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                        <tr>
                            <td colspan="5">No books on your 'Want to Read' list yet!</td>
                        </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="am-reading-list">
        <div class="table-container mb-5">
            <table class="table-responsive">
                <thead>
                    <tr>
                        <th colspan="5" scope="col" class="text-center h3">Books I Am Reading</th>
                    </tr>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col" class="author">Author</th>
                        <th scope="col" class="date">Date</th>
                        <th scope="col" class="journal text-center">Journal Entry</th>
                        <th scope="col" class="actions text-center">Actions</th>
                    </tr>
                </thead>
            <tbody>
                {% if user_books_ar|length > 0 %}
                    {% for book in user_books_ar %}
                        <tr>
                            <td>{{book.book.title}}</td>
                            <td>{{book.book.authors}}</td>
                            <td>{{book.timestamp|date:"d M, Y"}}</td>
                            <td class="text-center">
                                {% if book.has_journal_entry %}
                                    <a class="btn btn-sm btn-outline-secondary view-button" href="{% url 'view_journal_entry' book.book.id %}">View</a>
                                {% else %}
                                    <a class="btn btn-sm btn-outline-secondary add-button" href="{% url 'create_journal_entry' book.book.id %}">Add</a>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                <div class="dropdown">
                                    <button class="btn btn-sm btn-outline-default dropdown-toggle action-button" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                        Change List
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <li><a class="dropdown-item" href="{% url 'change_book_status' book.book.id 'WTR' %}">Want to read</a></li>
                                        <li><a class="dropdown-item" href="{% url 'change_book_status' book.book.id 'AR' %}">Am reading</a></li>
                                        <li><a class="dropdown-item" href="{% url 'change_book_status' book.book.id 'HR' %}">Have read</a></li>
                                        <li><a class="dropdown-item text-danger" href="{% url 'delete_book_to_user' book.book.id %}">Delete</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5">No books on your 'Am Reading' list yet!</td>
                        </tr>
                    {% endif %}
            </tbody>
            </table>
        </div>
    </div>

    <div class="have-read-list">
        <div class="table-container mb-5">
            <table class="table-responsive">
                <thead>
                    <tr>
                        <th colspan="5" scope="col" class="text-center h3">Books I Have Read</th>
                    </tr>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col" class="author">Author</th>
                        <th scope="col" class="date">Date</th>
                        <th scope="col" class="journal text-center">Journal Entry</th>
                        <th scope="col" class="actions text-center">Actions</th>
                    </tr>
                </thead>
            <tbody>
                {% if user_books_hr|length > 0 %}
                    {% for book in user_books_hr %}
                        <tr>
                            <td>{{book.book.title}}</td>
                            <td>{{book.book.authors}}</td>
                            <td>{{book.timestamp|date:"d M, Y"}}</td>
                            <td class="text-center">
                                {% if book.has_journal_entry %}
                                    <a class="btn btn-sm btn-outline-secondary view-button" href="{% url 'view_journal_entry' book.book.id %}">View</a>
                                {% else %}
                                    <a class="btn btn-sm btn-outline-secondary add-button" href="{% url 'create_journal_entry' book.book.id %}">Add</a>
                                {% endif %}
                            </td>
                            <td class="text-center">
                                <div class="dropdown">
                                    <button class="btn btn-sm btn-outline-default dropdown-toggle action-button" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                        Change List
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <li><a class="dropdown-item" href="{% url 'change_book_status' book.book.id 'WTR' %}">Want to read</a></li>
                                        <li><a class="dropdown-item" href="{% url 'change_book_status' book.book.id 'AR' %}">Am reading</a></li>
                                        <li><a class="dropdown-item" href="{% url 'change_book_status' book.book.id 'HR' %}">Have read</a></li>
                                        <li><a class="dropdown-item text-danger" href="{% url 'delete_book_to_user' book.book.id %}">Delete</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5">No books on your 'Have Read' list yet!</td>
                        </tr>
                    {% endif %}
            </tbody>
            </table>
        </div>
    </div>
{% endblock content %}