{% load static %}
<head>
    <title>Reader</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{% static 'journal/css/journal.css' %}">
</head>
<body>
    <!-- delete next three rows when base in place -->
    <main role="main" class="container flex-grow-1">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="book-page-image d-flex flex-row flex-md-column align-items-center me-md-3 mb-3 mb-md-0">
                    {% if journal_entry.book.cover %}
                        <img src="https://covers.openlibrary.org/b/id/{{journal_entry.book.cover}}-M.jpg" alt="Book cover">
                    {% else %}
                        <img src="{% static 'search/images/defaultcover.jpg' %}" alt="No cover found">
                    {% endif %}
                </div>
                <div class="flex-grow-1 d-flex flex-column">
                    <h4>{{ journal_entry.book.title }}</h4>
                    <p>
                        {% if journal_entry.book.authors %}
                            by {{ journal_entry.book.authors }}
                        {% else %}
                            Author Not Found
                        {% endif %}
                    </p>
                    <p>
                        {{ journal_entry.entry }}
                    </p>
                    <div class="article-metadata">
                        <small class="text-muted">{{ journal_entry.timestamp }}</small>
                    </div>
                </div>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        </div>
    </main>
</body>