{% extends "recommendations/base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'journal/css/journal.css' %}">
{% endblock extra_css %}
{% block content %}
    <div class="d-flex flex-column flex-md-row mt-4 mb-4">
        <div class="journal-list-image d-flex align-items-center me-md-3 mb-3 mb-md-0">
            {% if journal_entry.book.cover %}
                <img src="https://covers.openlibrary.org/b/id/{{journal_entry.book.cover}}-M.jpg" alt="Book cover">
            {% else %}
                <img src="{% static 'search/images/defaultcover.jpg' %}" alt="No cover found">
            {% endif %}
        </div>
        <div class="flex-grow-1 d-flex flex-column">
            <h4 class="border-bottom pb-4 mb-4">
                My Journal Entry
            </h4>
            <h5>{{ journal_entry.book.title }}</h5>
            <p>
                {% if journal_entry.book.authors %}
                    by {{ journal_entry.book.authors }}
                {% else %}
                    Author Not Found
                {% endif %}
            </p>
        </div>
    </div>
    <div class="journal-entry-text w-100 mt-3">
        <div>
            <p>
                {{ journal_entry.entry }}
            </p>
        </div>
        <div class="article-metadata">
            <small class="text-muted">{{ journal_entry.timestamp }}</small>
        </div>
    </div>
    <div class="d-flex justify-content-end mt-3">
        <a class="btn btn-sm btn-outline-secondary edit-button ms-2" href="{% url 'update_journal_entry' journal_entry.id %}">Edit</a>
        <a class="btn btn-sm btn-outline-secondary edit-button ms-2" href="{% url 'delete_journal_entry' journal_entry.id %}">Delete</a>
    </div>
{% endblock content %}