{% extends "recommendations/base.html" %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="recommendation-container d-flex flex-column flex-md-row mt-4 mb-4">
            <div class="col-12 col-md-3 recommendation-book-image d-flex justify-content-center mb-3 mb-md-0">
                {% if recommendation.book.cover %}
                    <img src="https://covers.openlibrary.org/b/id/{{recommendation.book.cover}}-M.jpg" alt="Book cover">
                {% else %}
                    <img src="{% static 'search/images/defaultcover.jpg' %}" alt="No cover found">
                {% endif %}
            </div>
            <div class="col-12 col-md-9 flex-grow-1">
                <div class="d-flex align-items-center justify-content-between">
                    <h4 class="mb-2">
                        {% if recommendation.book.authors %}
                            {{ recommendation.user.username }}'s Recommendation for {{ recommendation.book.title }} by {{ recommendation.book.authors }}
                        {% else %}
                            {{ recommendation.user.username }}'s Recommendation for {{ recommendation.book.title }}
                        {% endif %}
                    </h4>
                </div>
                <p class="article-content">{{ recommendation.recommend_text|truncatechars:400 }}<a href="{% url 'recommendation_detail' recommendation.pk %}" class="ms-2">Read more</a></p>
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <div class="d-flex align-items-center">
                        {% if recommendation.pk in user_likes %}
                            <i id="like-{{ recommendation.pk }}" class="far fa-heart me-2 like-button inactive"></i>
                            <i id="unlike-{{ recommendation.pk }}" class="fas fa-heart me-2 unlike-button"></i>
                        {% else %}
                            <i id="like-{{ recommendation.pk }}" class="far fa-heart me-2 like-button"></i>
                            <i id="unlike-{{ recommendation.pk }}" class="fas fa-heart me-2 unlike-button inactive"></i>
                        {% endif %}
                        <p id="like_count-{{ recommendation.pk }}" class="mb-0">
                            {{ recommendation.recommendation_likes.count }}
                        </p>
                    </div>
                    <div class="article-metadata">
                        <small class="text-muted">{{ recommendation.timestamp|date:'M jS Y, H:i' }}</small>
                    </div>
                </div>
        </div>
    </div>
    </div>
    <div class="border border-danger border-2 rounded p-3">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Recommendation</legend>
                <h4 class="mb-4">Are you sure you want to delete your recommendation for {{ recommendation.book.title }}?</h4>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                <a class="btn btn-outline-sec" href="{% url 'recommendation_detail' recommendation.book.id %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}