{% extends "recommendations/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div>
        <form method="POST" enctype="multipart/form-data" id="journalEntryForm">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    {% if recommendation.book.authors %}
                        {{ user.username }}'s recommendation for {{ recommendation.book.title }} by {{ recommendation.book.authors }}
                    {% else %}
                        {{ user.username }}'s recommendation for {{ recommendation.book.title }}
                    {% endif %}
                </legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-dark bg-blue" type="submit">
                    Update Recommendation
                </button>
            </div>
        </form>
    </div>
{% endblock content %}