{% extends "recommendations/base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'forum/css/forum.css' %}">
{% endblock extra_css %}
{% block content %}
    <p class="links mb-4"><a href="{% url 'topic-list' %}">Forums</a> &gt; <a href="{% url 'threads-by-topic' topic.id %}">{{ topic.title }}</a></p>
    {% if threads %}
        {% for thread in threads %}
            <article class="thread-container mb-2">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <img class="rounded-circle author-img" src="{{ thread.author.profile.get_image_url }}" alt="Author image">
                    </div>
                    <div class="flex-grow-1 mx-3">
                        <a class="text-decoration-none" href="{% url 'view-thread' topic.id thread.id %}"><p class="mb-0 text-primary article-content">{{ thread.title }}</p></a>
                        <div class="article-metadata">
                            <small class="text-muted">Created by <a class="mr-2" href="{% url 'user-posts' thread.author.username %}">{{ thread.author }}</a> on {{ thread.timestamp }}</small>
                        </div>
                    </div>
                    <div class="post-count">
                        <a class="text-decoration-none" href="{% url 'view-thread' topic.id thread.id %}">
                            <div class="post-count d-flex align-items-center">
                                <img class="img-responsive img-fluid me-2" src="/static/forum/images/posts.png" alt="Posts">
                                <p class="mt-3">{{ thread.post_count }}</p>
                            </div>
                        </a>
                    </div>
                </div>
            </article>
        {% endfor %}
        <div class="text-center">
            <a class="action-button btn btn-outline-default mt-4" href="{% url 'thread-create' %}">Create a Thread</a>
        </div>
    {% else %}
        <article class="no-thread-msg mt-4">
            <div  class="d-flex flex-column align-items-center justify-content-center">
                <p>There are no threads under this topic yet!</p>
                <p>Why not create a thread to start the discussion?</p>
                <a class="action-button btn btn-outline-default" href="{% url 'thread-create' %}">Create a Thread</a>
            </div>
        </article>
    {% endif %}
    {% if is_paginated %}
        <div class="post-pagination">
            {% if page_obj.has_previous %}
                <a class="action-button btn btn-outline-default mb-4" href="?page=1">First</a>
                <a class="action-button btn btn-outline-default mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <a class="action-button btn btn-outline-default mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <a class="action-button btn btn-outline-default mb-4" href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <a class="action-button btn btn-outline-default mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="action-button btn btn-outline-default mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
    </div>
    {% endif %}
{% endblock %}