{% extends 'recommendations/base.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'forum/css/forum.css' %}">
{% endblock extra_css %}
{% load crispy_forms_tags %}
{% block content %}
    <p class="links"><a href="{% url 'topic-list' %}">Forums</a> &gt; <a href="{% url 'threads-by-topic' topic.id %}">{{ topic.title }}</a> &gt; <a href="{% url 'view-thread' topic.id thread.id %}">{{ thread.title|truncatechars:20 }}</a></p>
    <h3 class="mb-4">{{ thread.title }}</h3>
    {% if posts %}
        {% for post in posts %}
        <article class="media content-section">
        <div class="d-flex flex-column flex-md-row">
            <div class="author-info d-flex flex-row flex-md-column align-items-center me-md-3 mb-3 mb-md-0">
                <img class="rounded-circle post-author-img mb-2 mb-md-0" src="{{ post.author.profile.get_image_url }}" alt="User image">
                <a class="ms-2 ms-md-0 mt-md-2 author-name text-decoration-none" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
            </div>
            <div class="media-body flex-grow-1 d-flex flex-column">
                <div>
                    <p class="article-content">{{ post.content }}</p>
                    {% if post.image %}
                        <div class="img-container">
                        <img class="img-responsive img-fluid mb-3" src="{{ post.get_image_url }}" alt="User image">
                        </div>
                    {% endif %}
                </div>
                <div class="d-flex flex-column align-items-end mt-auto">
                    {% if user == post.author %}
                        <div class="d-flex flex-row align-items-end">
                        <a class="btn btn-secondary btn-sm mt-1 mb-1 me-2" href="{% url 'post-update' topic.id thread.id post.id %}">Edit</a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' topic.id thread.id post.id %}">Delete</a>
                        </div>
                    {% endif %}
                    <div class="article-metadata">
                        <small class="text-muted">{{ post.timestamp }}</small>
                    </div>
                </div>
            </div>
        </div>
        </article>
        {% endfor %}
    {% else %}
        <article class="media content-section">
            <div class="d-flex flex-column align-items-center justify-content-center">
                <p>There are no posts under this thread yet!</p>
                <p>Why not post to start the discussion?</p>
            </div>
        </article>
    {% endif %}
        {% if is_paginated %}
            <div class="post-pagination">
                {% if page_obj.has_previous %}
                    <a class="action-button btn btn-outline-default mb-4" href="?page=1">First</a>
                    <a class="action-button btn btn-outline-default mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <a class="action-button btn btn-outline-default mb-4" href="?page={{ num }}">{{ num }}</a>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <a class="action-button btn btn-outline-default mb-4" href="?page={{ num }}">{{ num }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <a class="action-button btn btn-outline-default mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                    <a class="action-button btn btn-outline-default mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                {% endif %}
            </div>
        {% endif %}
    <div class="d-flex justify-content-center">
        <a class="action-button btn btn-outline-default" href="{% url 'post-create' topic.id thread.id %}">Comment on this Thread</a>
    </div>
{% endblock %}