{% extends "recommendations/base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'forum/css/forum.css' %}">
{% endblock extra_css %}
{% block content %}
    <div class="d-flex justify-content-center">
        <h2 class="article-title mt-4 mb-4">Discussion Forum</h2>
    </div>
    <article class="mb-4">
        <div>
            <p>
                Welcome to the <span class="logo h5">reader.</span> community discussion forum,
                a vibrant space where book lovers come together to share insights, debate plot twists,
                and explore new literary horizons. Whether you're here to recommend your favourite reads,
                dive deep into character analysis, or simply chat about the latest bestseller,
                our forum is your home for meaningful conversation and spirited discussion.
                Join us to connect with fellow enthusiasts, expand your reading list, and celebrate the
                joy of stories that move us all.
            </p>
        </div>
    </article>
    {% for topic in topics %}
        <article class="topic-container">
            <div>
                <a class="text-decoration-none" href="{% url 'threads-by-topic' topic.id %}">
                    <div class="d-flex align-items-center justify-content-between">
                        <h4 class="article-title mb-2">{{ topic.title }}</h4>
                        <div class="d-flex align-items-center ms-3">
                        <img class="img-responsive img-fluid me-2" src="{% static 'forum/images/threads.png' %}" alt="Threads">
                        <p class="article-content mb-0">{{ topic.thread_count }}</p>
                        </div>
                    </div>
                    <p class="article-content">{{ topic.description }}</p>
                </a>
            </div>
        </article>
    {% endfor %}
{% endblock content %}