body {
    background: #FFFFFF;
    color: #333333;
    margin-top: 5rem;
}

.inactive {
    display: none;
} 

.bg-beige {
    background-color: #cfb9ab;
}

.text-grey {
    color: #333333;
}

.action-button {
    border: 3px solid #b8a3cd;
    margin: 10px;
    transition: background-color 0.3s, color 0.3s;
}
  
.action-button:hover {
background-color: #b8a3cd; 
}

form .form-control:focus {
    border-color: #b8a3cd; 
    box-shadow: 0 0 5px rgba(184, 163, 205, 0.5);
}

.alert-info {
    background-color: rgba(184, 163, 205, 0.5);
    border-color: #b8a3cd; 
    color: #333333; 
}

/* Styling for nav */

.logo {
    font-family: Georgia;
    font-style: bold;
}

.site-header .navbar-nav .nav-link {
    color: #333333;
}
  
.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

#book_search::placeholder {
    font-size: 0.85rem;
    color: #6c757d;
}

.input-group-text {
    background-color: transparent; 
    border: none;
    color: #6c757d;
    padding: 0 10px;
}

#book_search {
    width: 300px;
    border-radius: 25px;
    padding-right: 2.5rem;
}

.search-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%); 
    background: none; 
    border: none;
    color: #6c757d;
    font-size: 1rem;
    cursor: pointer;
    padding: 0;
    outline: none;
}

/* Styling for Recommendations */

.recommendation-author-img {
    height: 40px;
    width: 40px;
}

.recommendation-container-wrapper {
    border-bottom: 1px solid #cfb9ab;
    padding: 10px 20px;
}

.recommendation-container a {
    color: #333333;
}

.recommendation-book-image {
    height: 250px;
    min-width: 180px;
}
  
.recommendation-book-image img {
    max-height: 250px;
    max-width: 180px;
}

.links a {
    color: #555555;
    font-weight: bold;
    text-decoration: none;
}
  
.links a:hover {
text-decoration: underline;
}

/* Styling for User pages */
.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }
  
  .logout {
    color: #444444;
  }